@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Livvic', sans-serif;
    color: #2a262e;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fffdf8;   
}

    /* #### HEADER Y NAV #### */

header {
    background-color: #fff4e0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}

.menu { 
    display: flex;
    justify-content: flex-end;
    padding: 10px 80px 0 0;
}

.nav-menu {
    display: flex;
    font-size: 18px;
    list-style-type: none;  
    padding: 10px 10px 0 0;
    height: 80px;
}

.link {
    display: inline;
    margin: 10px 35px 0 0;
    justify-content: center;
    font-weight: 600;
}

.nav-link {
    color: #c59f8f;
}

.boton {
    background-color: #faad80;
    color: white;
    padding: 2px 20px 5px 20px;
    border-radius: 100px;
    box-shadow: 2px 8px 10px rgba(115,115, 115, 0.25);
}

.boton:hover {
    background-color: #ffe2bc;
    color: #faad80;
}

/* .nav-menu a:hover {
    background-color: #fccdb2;
    color:#f17b36;
    border: 1px solid #ffe2cf;
    padding: 5px 20px;
    border-radius: 100px;
} */

  /* #### SECCION 1 | PRINCIPAL #### */

.seccion-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sobremi-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.saludo {
    font-size: 40px;
    font-weight: 800;
}

.nombre {
    color: #faad80;
    font-size: 50px;
    text-decoration: underline wavy;
}

.sobremi-descripcion {
    font-size: 16px;
    margin-top: 20px;
    color: #5f524d;
}

.imagen {
    width: 600px;
    padding-top: 10px;
}


.imagen-principal {
    width: 100%;
}

.btn-principal {
    margin-top: 20px;
    font-weight: 400;
    padding: 10px 30px;
    font-size: 20px;
}

/* #### SECCION 2 | CONOCIMIENTOS #### */

.seccion2 {
    background-color: #f9faf5;
    text-align: center;
    padding: 70px 50px 90px 50px;
}

.titulo-seccion {
    font-size: 50px;
    font-weight: 800;
}

.descripcion-conocimientos {
    margin-left: 500px;
    margin-right: 500px;
    color: #5f524d;
    padding: 10px 0 20px 0;
}

.tarjeta {
    display: inline-block;
    color: #2e2e21;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
}

.imagen-tarjeta {
    width: 100px;
    height: auto;
}

/* #### SECCION 3 | CITA Y PROYECTOS #### */

.seccion3-cita {
    background-color: #fff4e0;
    color: #5f524d;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 80px 20px;
}

.contenido-cita {
    height: 400px;
}

.cita {
    max-width: 700px;
    font-size: 20px;
    margin: 60px 0;    
}

.cita-icono {
    height: 120px;
    display: flex;
    justify-content: center;
    
}

.cita-icono img {
    height: 100%;
}


.cita-autor {
    font-size: 50px;    
}

/* #### RESPONSIVE #### */

@media (max-width: 600px) {
    .seccion-principal {
        flex-direction: column;
        height: auto;
    }
}