@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #2a262e;
    font-size: 16px;
}

    /* HEADER Y NAV */

header {
    background-color: #ffd890;
    height: 50px;
}

.menu { 
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}

.nav-menu {
    font-size: 17px;
    list-style-type: none;  
    padding: 10px 10px 0 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff9e7;   
}

.link {
    display: inline;
    margin: 10px 20px 0 0;
    justify-content: center;
}

.boton {
    background-color: #faad80;
    color: white;
    padding: 2px 20px 5px 20px;
    border-radius: 100px;
}

/* .nav-menu a:hover {
    background-color: #fccdb2;
    color:#f17b36;
    border: 1px solid #ffe2cf;
    padding: 5px 20px;
    border-radius: 100px;
} */

.nav-menu a:hover {
    border-bottom: 1px #f17b36;
}



