@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #2a262e;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fffdf8;   
}

    /* #### HEADER Y NAV #### */

header {
    background-color: #ffd890;
    height: 80px;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}

.menu { 
    display: flex;
    justify-content: flex-end;
    padding: 10px 80px 0 0;
}

.nav-menu {
    display: flex;
    font-size: 17px;
    list-style-type: none;  
    padding: 10px 10px 0 0;
}

.link {
    display: inline;
    margin: 10px 20px 0 0;
    justify-content: center;
    font-weight: 600;
}

.boton {
    background-color: #faad80;
    color: white;
    padding: 2px 20px 5px 20px;
    border-radius: 100px;
    box-shadow: 2px 8px 10px rgba(115,115, 115, 0.25);
}

.boton:hover {
    background-color: #ffe2bc;
    color: #faad80;
}

/* .nav-menu a:hover {
    background-color: #fccdb2;
    color:#f17b36;
    border: 1px solid #ffe2cf;
    padding: 5px 20px;
    border-radius: 100px;
} */

  /* #### SECCION 1 | PRINCIPAL #### */

.seccion-principal {
    display: flex;
    justify-content:center;
    align-items: center;
    weight: 100%;
}

.sobremi-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.saludo {
    font-size: 30px;
    font-weight: 600;
}

.nombre {
    color: #faad80;
    font-size: 50px;
    text-decoration: underline wavy;
}

.sobremi-descripcion {
    font-size: 16px;
    margin-top: 20px;
    color: #5f524d;
}

.imagen-principal {
    max-width: 600px;
    padding-top: 80px;
}

.btn-principal {
    margin-top: 20px;
    font-weight: 400;
    padding: 10px 30px;
    font-size: 20px;
}

/* #### SECCION 2 | CONOCIMIENTOS #### */

.seccion2 {
    background-color: #fcf5ed;
    text-align: center;
    padding: 50px;
}

.titulo2 {
    font-size: 45px;
    font-weight: 800;
}

.descripcion-conocimientos {
    margin-left: 500px;
    margin-right: 500px;
}

.tarjeta {
    display: inline-block;
    color: #2e2e21;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
}